pkgbase = projman-git
	pkgdesc = A simple tui project manager
	pkgver = r4.77567d1
	pkgrel = 1
	url = https://github.com/delta1024/projman
	arch = x86_64
	license = none
	makedepends = git
	makedepends = go
	provides = projman
	conflicts = projman
	options = !debug
	source = git+https://github.com/delta1024/projman
	sha256sums = SKIP

pkgname = projman-git
