pkgbase = projman
	pkgdesc = A simple tui project manager
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/delta1024/projman
	arch = x86_64
	license = MIT
	makedepends = go
	provides = projman
	conflicts = projman
	replaces = projman-git
	options = !debug
	source = https://github.com/delta1024/projman/archive/refs/tags/v0.1.4.tar.gz
	sha256sums = SKIP

pkgname = projman
